
<div class="container">
  <div class="logoContainer">
    <a class="logo" routerLink="/home"><img src="assets/IMG/logo%20image.svg"></a>
  </div>

  <app-search-bar></app-search-bar>

  <div class="headerButons" *ngIf="!getModaLogged()">
    <button class="loginButon" type="button" (click)="LoginActivate()"> Login </button>
    <button class="registerButon" type="button"> Sign in</button>
  </div>

  <div class="loggedHeaderButons" *ngIf="getModaLogged()">
    <button class="loginButon" type="button"> pene </button>
    <button class="SuscribeButon" type="button"> Subscribe</button>
  </div>
</div>
<div class="loginContainer" *ngIf="getLoginActivator()" (click)="LoginActivate()">

</div>
<div class="loginContainer2" *ngIf="getLoginActivator()">
  <app-login></app-login>
</div>
