.container{
  width: 100%;
  display: flex;
  flex-direction: row;

}
.searchBar{
  margin: auto;
  display: flex;
  flex-direction: row;

}
.searchInput{
  max-width: 100%;
  width: 500px;
}

.headerButons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 5em;
}

.loginButon{
  position: relative;
  width: 50px;
}
.registerButon{
  position: relative;
  width: 60px;
}
@media (max-width: 900px){
  .searchInput{
    width: 100%;
  }
}
