
<body class="portfolios">
    <aside class="a"></aside>
    <div class="portfolios-user">
        <app-portfolio-view class="portfolios-user-portfolio"></app-portfolio-view>
        <app-portfolio-view class="portfolios-user-portfolio"></app-portfolio-view>
        <app-portfolio-view class="portfolios-user-portfolio"></app-portfolio-view>
        <app-portfolio-view class="portfolios-user-portfolio"></app-portfolio-view>
        <div class="portfolio-add">
            <img class="portfolio-add-img" src="assets\IMG\add_portfolio.png" >
        </div>
    </div>
</body>

