.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionContent{
  margin-top: 5em;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid black;
}

.product{
  width: 33%;
  #display: flex;
}
.product p{
  margin-left: 3em;
}
.searches{
  width: 33%;
  #display: flex;
}
.searches p{
  margin-left: 3em;
}
.lassevendays{
  width: 33%;
}
.lassevendays p{
 margin-left: 10em;
}
/*.product{
  margin-left: 3em;
}
.searches{
  margin-right: 6em;
}*/
@media (max-width: 900px){
  .sectionContent{
    width: 100%;
  }
}


