<div class="container">
  <div class="containerCloseButton">
    <button class="closeButton" (click)="LoginActivate()">X</button>
  </div>
  <div class="containerGoogleButton">
    <button class="googleButton" (click)="singInWithGoogle()" >Continue con Google</button>
  </div>
  <div class="containerAppleButton">
    <button class="AppleButton">Continue con Apple</button>
  </div>

  <div class="containerLoginForm">
    <input class="emailInput" type="text" placeholder="Enter your email address" [(ngModel)]="email">
    <input class="passwordInput" type="password" placeholder="Enter your password" [(ngModel)]="password">
  </div>

  <div class="containerRememberme">
    <label for="miCheckbox">
      <input class="checkButton" type="checkbox" id="miCheckbox">
      Remenberme
    </label>
    <a href="#" class="forgotPassword">Have you forgotten your password?</a>
  </div>

  <div class="containerLoginbutton">
    <button class="loginButon" (click)="signIn();LoginActivate()" >Login</button>
  </div>
</div>

