.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-left: 10%;
  margin-top: 2%;
}

.nav-item {
  display: flex;
  position: relative;
  padding-left: 20px;
  align-items: center;
  align-content: center;
}

.nav-item div {
  position: absolute;
  top: 0; /* Ajustar para que esté al principio */
  left: 0;
  height: 100%; /* Ajustar para que ocupe toda la altura */
  width: 3px;
  border-radius: 2px;
  background-color: transparent; /* Cambiar el color a transparente */
  transition: ease-out 0.3s;
}

.nav-item.active div {
  background-color: #3AD300; /* Color de la barra activa */
}

.nav-item span {
  cursor: pointer;
}

.nav-item.active span {
  font-weight: bolder;
}

